.features__subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
.features__paragraph {
  line-height: 1.7;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 0;
}
.features__item {
  width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-team;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
}
